*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #74c5ebd3;
    text-align: center;
}

.cabecalho{
    background-color: #020917;
    background-image: linear-gradient(to );
    color: rgba(44, 93, 122, 0.644);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
}

.cabecalho-titulo{
    display: inline-block;
    margin: 0 16px;
    font-size: 22px;
}

.cabecalho-imagem{
    width: 8%;
    margin-left: 1%;
}

.texto-div-conteudo{
    width: 35%;
}

.texto-subtitulo{
    background-image: linear-gradient(to right, rgb(47, 177, 194), transparent);
    text-align: center;
    font-size: 30px;
    margin: 15px o 15px 0;
    text-transform: uppercase;
    margin: 30px;
    border-radius: 15px;
}

.texto-principal{
    font-size: 15px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    width: 250px;
    height: 400px;
    background: rgb(107, 193, 228);
    color: white;
    padding: 25px;
    border: 5px solid #271d1d;
    text-align: left;
    margin: 7%;
    padding-left: 7%;
    border-radius: 15px;
}

.texto-imagem{
    width: 50%;
    border-radius: 10px;
    position: absolute;
    top: 38%;
    left: 40%;
    border: 5px solid #020917;

}
